.valide {
    padding: 6px;
    border-radius: 6px;
    background-color: #5BE881;
  }
  .rejected {
    padding: 6px;
    border-radius: 6px;
    background-color: #FF0000;
  }
  .on-validation {
    padding: 6px;
    border-radius: 6px;
    background-color: #FDB64D;
  }
  table,#addUSerForm{
      padding: 10px;
      border-radius: 15px;
      box-shadow: 2px 2px 2px 2px rgb(173, 172, 172);
  }
  i:hover{
      cursor: pointer;
  }
  #buttonAddUser{
      float: right;
  }
  .fa-times{
    float: right;
  }